.container {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    .buttonContainer {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
}
